-i https://pypi.org/simple
appscript==1.1.0
beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
idna==2.8
lxml==4.4.1
psutil==5.6.5
requests==2.22.0
soupsieve==1.9.5
urllib3==1.25.7
xlsxwriter==1.2.6
xlwings==0.16.0
